<head>
    <meta charset="UTF-8">
    {{#each langs}}
    <link rel="alternate" href="{{link}}" hreflang="{{lang_ISO_639_1}}">
    {{/each}}
    <link rel="alternate" href="{{langs.0.link}}" hreflang="x-default">
    <title>[instantgram] - {{project_lead}}</title>
    <meta name="description" content="{{project_lead}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="BbRUNLVG70a_9r_nJTAUNwYff6-MSky-lkjCTc2gwII" />
    <link rel="stylesheet" type="text/css" href="https://theus.github.io/instantgram/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://theus.github.io/instantgram/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://theus.github.io/instantgram/stylesheets/github-light.css" media="screen">
    <link rel="apple-touch-icon" sizes="152x152" href="https://www.instagram-brand.com/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://www.instagram-brand.com/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://www.instagram-brand.com/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.instagram-brand.com/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://www.instagram-brand.com/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.instagram-brand.com/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://www.instagram-brand.com/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon" sizes="57x57" href="https://www.instagram-brand.com/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="https://www.instagram-brand.com/favicon.ico">
    <style type="text/css">
      .Language-bar {
        position: absolute;
        top: 0;
        left: 25px;
        text-align: center;
        font-size: 12px;
        font-size: .9vmax;
      }

      .Language-bar a { color: #fff; }
      .Language-bar a:not(:last-child)::after {
        content: " | ";
      }
    </style>
  </head>
